body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #000;
  color: #fff;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  overflow-x: hidden;
}

.logo img {
  position: absolute;
  top: 10px;
  left: 10px;
  max-width: 4%;
  height: auto;
}


.hero-section {
  background-image: url('../../images/elizabethasquaredbackground.PNG.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.hero-section h1 {
  border: 2px #fff  solid;
  border-radius: 10px;
  padding: 10px;
  background-color: white;
  font-size: 5vw;
  color: black;
  font-weight: 200;
  text-align: center;
}

.about-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 20px;
  background-color: black;
}

.about-us {
  max-width: 800px;
  text-align: center;
  color: white;
  font-family: 'Helvetica Neue', sans-serif;
  line-height: 1.7;
}

.about-us h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

.about-us p {
  margin-bottom: 20px;
  font-size: 1.2rem;
  font-weight: 300;
}
