/* General Reset */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  color: #fff;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  overflow-x: hidden; 
}



.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; 
  position: relative;
}


.middle {
  position: relative; 
  width: 40vw; 
  height: 40vw;  
  /* max-width: 300px;  Set max size */
  /* max-height: 300px; */
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Logo 
.logo {
  position: absolute; 
  top: 50%; 
  left: 60%; 
  transform: translate(-50%, -50%) scale(0); 
  z-index: 2; 
  opacity: 0;
  animation: logoAnimation 4s linear forwards; 
 
}
*/
.hi{
  position:absolute;
  top:0;
  bottom:0;
  right: 0;
  left: 0;
  margin: auto; 
  max-width: 50%;
  max-height: 50%;
  height: auto;
  width: auto;
  
}



/* Define the animation */

/* Circle Links */
.surround {
  position: absolute;
  width: 100%; 
  height: 100%;


}

.surround a {
  position: absolute;
  top: 45%;
  left: 45%;
  transform-origin: 0 0;
  text-decoration: none;
  color: white;
  border: 2px solid #ffffff;
  border-radius: 5px;
  border-color: white;
  padding: 1vw; 
  text-align: center;
  font-family: 'Helvetica Neue', 'Helvetica';
  font-size: 1.2vw; 
  font-weight: 600;
}

.surround a:hover {
  text-decoration: underline;
  background-color: black;

}


.surround a:nth-child(1) {
  transform: rotate(0deg) translate(17vw) rotate(0deg);
}
.surround a:nth-child(2) {
  transform: rotate(51.43deg) translate(17vw) rotate(-51.43deg);
}
.surround a:nth-child(3) {
  transform: rotate(108.86deg) translate(17vw) rotate(-108.86deg);
}
.surround a:nth-child(4) {
  transform: rotate(161.29deg) translate(17vw) rotate(-161.29deg);
}
.surround a:nth-child(5) {
  transform: rotate(206.72deg) translate(17vw) rotate(-206.72deg);
}
.surround a:nth-child(6) {
  transform: rotate(252.15deg) translate(17vw) rotate(-252.15deg);
}
.surround a:nth-child(7) {
  transform: rotate(320.58deg) translate(17vw) rotate(-320.58deg);
}


.footer-text {
  text-align: center;
  font-size: 1.5vw; 
  margin-top: 15vh; 
  position: relative;
}


/* Media Queries for Smaller Screens */
@media screen and (max-width: 768px) {
  .middle {
    width: 60vw; 
    height: 60vw;
  }

  .logo img {
    width: 80%;
  }

  .surround a {
    font-size: 2vw; 
    padding: 1.5vw; 
  }

  .surround a:nth-child(1) {
    transform: rotate(0deg) translate(30vw) rotate(0deg);
  }
  .surround a:nth-child(2) {
    transform: rotate(51.43deg) translate(30vw) rotate(-51.43deg);
  }
  .surround a:nth-child(3) {
    transform: rotate(108.86deg) translate(30vw) rotate(-108.86deg);
  }
  .surround a:nth-child(4) {
    transform: rotate(161.29deg) translate(30vw) rotate(-161.29deg);
  }
  .surround a:nth-child(5) {
    transform: rotate(205.72deg) translate(30vw) rotate(-205.72deg);
  }
  .surround a:nth-child(6) {
    transform: rotate(252.15deg) translate(30vw) rotate(-252.15deg);
  }
  .surround a:nth-child(7) {
    transform: rotate(320.58deg) translate(30vw) rotate(-320.58deg);
  }
  

  .footer-text {
    font-size: 2vw; /* Adjust footer text size */
  }
}

@media screen and (max-width: 480px) {
  .middle {
    width: 80vw; 
    height: 80vw; 
  }

  .logo img {
    width: 40%; 
  }


  .surround a {
    font-size: 3vw; 
    padding: 1vw; 
  }

  .footer-text {
    font-size: 4vw; 
  }
}
